<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  <%= @cocktail.name %>
</div>
  <ul class="list-group">
    <% @cocktail.doses.each do |dose| %>
    <li class="list-group-item"><%= dose.description %> <%= dose.ingredient.name %></li>
  <% end %>
  <%= link_to "🗑"
    dose_path(dose),
    method: :delete,
    data: { confirm: "Are you sure?" } %>
</ul>

<%= link_to "Go back to the cocktails", cocktails_path  %>
<%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail) %>
